.todo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.titleBox{
  margin-bottom: 23px;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

.taskTodo{
  margin-bottom: 34px;
}

.taskTodo,
.taskDone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 103px;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  padding: 10px;
}

.taskTodo img,
.taskDone img {
  margin-right: 10px;
}

.taskTodo span,
.taskDone span {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #39374E;
  opacity: .7 ;
}




